.table{
    margin: 30px;
    border: 2px solid black !important;
    width: 50% !important;
}

.icon-img{
    height: 40px;
    width: 40px;
}

.nav-item:hover{
    background-color: #f0f0f0;
    border-radius: 10px;
}